.env
CODE_ANALYSIS.md
RELEASE.md

## ingoore node_modules
node_modules/

## ingoore build folder and files
**/**/dist/
**/vendor/
**/composer.lock
**/phpcs-report.json
package-lock.json
WPORG_COMPLIANCE.md